@media (max-width: 1280px) {
    .logo {
        display: none;
    }
}

@media (max-width: 1070px) {
    .search {
        display: none;
    }

    .elastic {
        display: none;
    }

    .info {
        border-radius: 4px;
        border: 1px solid #000;
        padding: 73px 30px;
    }
    
    .greeting {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 3fr 2fr;
        color: var(--textColor);
        padding-bottom: 35px;
        border-bottom: 1px solid #7B7B7B;
    }
    
    .achivment-title {
        font-weight: bold;
        font-size: 24px;
    }
    
    .greeting-p {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    
    .greeting-photo {
        display: flex;
        align-items: center;
    }

    .greeting-photo  img {
        border-radius: 8px;
    }
    
    .button-top {
        transition: 0.7s;
        right: 0;
        margin-top: -185px;
        margin-right: 27px;
    }
    
    .button-top a {
        padding: 20px;
    }
    
    .button-top a .line-right {
        width: 2px;
        height: 15px;
        margin-top: -10px;
        margin-left: 10px;
    }
    
    .button-top a .line-left {
        width: 2px;
        height: 15px;
        margin-top: -10px;
        margin-left: -10px;
    }
}

@media (max-width: 900px) {
    .content {
        margin: 0 auto;
        width: 86%;
    }

    .change {
        display: none;
    }

    .many-info {
        display: none;
    }

    .name-school .title {
        font-size: 68px;
    }

    .info {
        display: flex;
        width: 100%;
    }

    .wrap-info {
        border: none;
    }

    .schedule {
        display: none;
    }

    .scroll-container {
        margin: 0 auto;
        width: 86%;
    }
}