@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');

:root {
    --bg:#4C8CBF;
    --t-bg: #53b2ff;
    --white:#fff;
    --hover-efect: #98BBD5;
    --textColor: #000;
}

.wrapper {
    width: 100%;
}

.header {
    position: relative;
    width: 100%;
    z-index: 20;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    padding: 20px 0;
}

.container {
    margin: 0 auto;
    width: 86%;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: var(--t-bg);
    padding: 10px 30px;
    border-radius: 8px;
}

.logo a {
    display: flex;
    align-items: center;
    color: #fff;
}

.logo a img {
    width: 75px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.des-menu > ul {
    display: flex;
    justify-content: center;
}

.des-menu > ul li a {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
}

.des-menu-a:hover {
    border-radius: 8px;
    background-color: var(--hover-efect);
}

.sub-menu {
    position: absolute;;
    display: none;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.sub-menu::before {
    position: absolute;
    padding: 15px;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 8px;
    background-color: var(--t-bg);
}

.des-menu-li:hover .sub-menu {
    display: block;
}

.sub-ul {
    padding: 10px;
}

.sub-ul li {
    border-bottom: 1px solid var(--t-bg);
}

.des-menu .des-menu-li .sub-menu .sub-ul li a {
    color: var(--textColor);
}

.searcher {
    height: 24px;
    padding: 0 40px 0 15px;
    border-radius: 16px;
    width: 185px;
    background-color: var(--white);
}

.searcher-photo img {
    height: 25px;
    margin-top: 3px;
    margin-left: -37px;
}

.elastic {
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 100px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.elastic::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 8px;
    background-color: var(--t-bg);
}

.elastic li {
    display: none;
    margin-bottom: 15px;
}

.elastic li.vis {
    display: block;
}

.elastic li a {
    color: #fff;
}

.elastic li a:hover {
    color: #000;
}

.change {
    display: flex;
    margin-top: -5px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.switch {
    display: none;
}

.switch-for {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
}

.switch-for span {
    margin-left: 25px;
}

.switch-for::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 25px;
    background-color: var(--bg);
    margin-left: 25px;
    margin-right: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    left: -60px;
}

.switch-for::after {
    position: absolute;
    z-index: 11;
    content: "";
    width: 21px;
    height: 21px;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 50%;
    margin-left: 25px;
    left: -57px;
    top: 2px;
}

.switch:checked + .switch-for::after {
    left: -35px;
}

.switch:checked ~ .switch-for::before {
    background-color: var(--t-bg);
}


.main {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/bg-main.png');
    padding: 200px 0;
}

.name-school {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 72px;
}

.title span {
    font-size: 76px;
}

.information {
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/bg.jpg');
    padding-top: 100px;
    padding-bottom: 120px;
}

.achivment {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.many-info {
    margin: 0 auto;
    padding: 0 75px;
    overflow: hidden;
    width: 850px;
}


.info-slide {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
    background-color: #4C8CBF;
    border-radius: 8px;
}

.swiper-slide {
    padding: 20px;
}

.many-info .swiper-button-prev::after,
.many-info .swiper-button-next::after {
    color: #7B7B7B;
    font-size: 54px;
}

.swiper-button-prev,
.swiper-button-next {
    position: relative;
}

.swiper-button-prev {
    top: -105px;
    left: -65px;
}

.swiper-button-next {
    margin-left: 100%;
    top: -125px;
    left: 38px;
}

.carousel-title {
    border-bottom: 1px solid #4f4c4c;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.carousel-title h2 {
    color: #fff;
    font-size: 22px;
}

.carousel-text {
    color: #fff;
}

.info {
    display: grid;
    grid-template-areas: 'info-about schedule';
    grid-gap: 20px;
    grid-template-columns: 4fr 1fr;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 73px 30px;
}

.info-about {
    grid-area: info-about;
}

.wrap-info {
    margin-top: -73px;
    padding-top: 73px;
    margin-bottom: -73px;
    padding-bottom: 73px;
    padding-right: 30px;
    border-right: 1px solid #000;
}

.greeting {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 3fr 2fr;
    color: var(--textColor);
    padding-bottom: 35px;
    border-bottom: 1px solid #7B7B7B;
}

.greeting:first-child {
    margin-bottom: 30px;
}

.achivment-title {
    font-weight: bold;
    font-size: 24px;
}

.greeting-p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.greeting-photo  img {
    border-radius: 8px;
}

.our-achivment {
    margin-top: 30px;;
}

.achivment-text {
    margin-bottom: 50px;
}

.our-achivment-photo {
    text-align: center;
}

.our-achivment-photo img {
    width: 350px;
    border-radius: 8px;
}

.our-achivment-photo img:first-child {
    height: 340px;
}

.schedule {
    width: 257.7px;
    color: var(--white);
    grid-area: schedule;
}

.call-schedule {
    padding: 15px;
    border-radius: 8px;
    background-color: var(--bg);
}

.call-wrap {
    display: flex;
    justify-content: space-between;
}

.call-schedule-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.small-photo {
    height: 16px;
}

.tips {
    font-size: 12px;
    color: var(--t-bg);
    margin-bottom: 5px;
}

.name-lesson,
.time {
    font-size: 14px;
    margin-bottom: 3px;
}

.networks {
    background-color: var(--bg);
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
}

.networks-title {
    font-size: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.social-network {
    margin-top: 10px;
}

.social-network a {
    font-size: 14px;
    color: #fff;
}

.month-calendar {
    background-color: var(--bg);
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
    width: 257.4px;
    text-align: center;
    display: inline-block;
}

.month-name {
    font-size: 20px;
    margin-bottom: 15px;
}

.month-calendar td,
.month-calendar th {
    padding: 5px;
    text-align: center;
}

.dates {
    height: 185.2px;
}

.active {
    background-color: var(--t-bg);
    border-radius: 6px;
}

.navigation {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    background-color: var(--t-bg);
    justify-content: space-around;
    align-items: center;
}

.navigation::after,
.navigation::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--white);
}

.navigation::after {
    margin-top: 48px;
}

.navigation::before {
    margin-bottom: 48px;
}

.month-name {
    width: 175px;
    margin-top: 15px;
}

.prev-btn,
.next-btn {
    cursor: pointer;
}

.prev-line-one,.prev-line-two,
.next-line-one, .next-line-two {
    display: block;
    width: 2px;
    height: 15px;
    background-color: #fff;
}

.prev-line-one {
    margin-top: 5px;
    transform: rotate(45deg);
}

.prev-line-two {
    margin-top: -5px;
    transform: rotate(315deg);
}

.next-line-one {
    margin-top: 5px;
    transform: rotate(-45deg);
}

.next-line-two {
    margin-top: -5px;
    transform: rotate(-315deg);
}

.quiz {
    background-color: var(--bg);
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
}

.quiz-title {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.question-item-question {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.question-item-answers li {
    margin-bottom: 7px;
}

.indicator {
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.controls .btn-next,
.controls .btn-restart {
    background-color: var(--hover-efect);
    padding: 7px 15px;
    border-radius: 8px;
}

.careful-links {
    background-color: var(--t-bg);
    padding: 70px 0;
}

.group-careful-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
}

.careful-link {
    background-color: var(--bg);
    padding: 20px;
}

.careful-link .name-coreful-link {
    text-align: center;
    margin-bottom: 20px;
}

.careful-link .name-coreful-link a {
    color: #fff;
    font-size: 24px;
}

.careful-link .photo-coreful-link img {
    width: 400px;
}

.our-contacts {
    background-color: var(--bg);
    padding-top: 70px;
}

.end-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Monsterat", sans-serif;
}

.our-contact {
    display: flex;
    justify-content: center;
    background-color: #53b2ff;
    color: #fff;
    padding: 55px 15px 55px 15px;
}

.contacts .contacts-text .contacts-name {
    font-size: 36px;
}

.contacts .contacts-location {
    margin-bottom: 35px;
}

.contacts .contacts-location .location-name {
    font-size: 18px;
}

.contacts .telephone {
    color: #000;
    font-size: 24px;
    margin-bottom: 15px;
}

.contacts .adress {
    color: #000;
    font-size: 24px;
}

.write-us {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 55px 0 55px 0;
}

.write .write-text .write-name {
    font-size: 36px;
    margin-bottom: 20px;
}

.write .forms .name input {
    font-size: 24px;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7B7B7B;
}

.write .forms .your-telephone input {
    font-size: 24px;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7B7B7B;
}

.write .forms .massage input {
    font-size: 24px;
    padding: 5px 20px;
    border-bottom: 1px solid #7B7B7B;
}

.send-button {
    margin-top: 80px;
}

.send-button a {
    padding: 20px 30px;
    background-color: #093cc7;
    font-size: 20px;
    color: #fff;
    border-radius: 8px;
}

.scroll-top {
    display: flex;
    align-items: center;
    z-index: 20;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    padding: 20px 0;
}

.scroll-container {
    margin: 0 auto;
    width: 50%;
}

.scroll-des-menu > ul {
    display: flex;
    justify-content: space-around;
}

.scroll-des-menu > ul li a {
    display: block;
    font-size: 20px;
    color: #fff;
    padding: 10px 10px;
}

.scroll-des-menu-a:hover {
    border-radius: 8px;
    background-color: var(--hover-efect);
}

.scroll-sub-menu {
    position: absolute;;
    display: none;
    margin-top: -423px;
    border-radius: 8px;
    backdrop-filter: blur(20px);
}

.scroll-sub-menu::before {
    position: absolute;
    padding: 15px;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 8px;
    background-color: var(--t-bg);
}

.scroll-des-menu .scroll-des-ul .scroll-des-menu-li .scroll-sub-menu .scroll-sub-ul li a {
    color: #000;
}

.scroll-des-menu-li:hover .scroll-sub-menu {
    display: block;
}

.scroll-sub-ul li {
    padding: 0 10px;
}

.scroll-sub-ul {
    padding: 10px;
}

.scroll-sub-ul li {
    border-bottom: 1px solid var(--t-bg);
}

.one-parag {
    margin-top: -242px;
}

.two-parag {
    margin-top: -152px;
}

.three-parag {
    margin-top: -242px;
}

.four-parag {
    margin-top: -242px;
}

.button-top {
    position: absolute;
    transition: 0.7s;
    right: 0;
    margin-top: -185px;
    margin-right: 70px;
    width: 25px;
    height: 25px;
}

.fixed {
    position: fixed;
    margin-bottom: 150px;
    bottom: 0;
}

.button-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--t-bg);
    padding: 35px;
    border-radius: 50%;
}

.button-top a .line-right {
    position: absolute;
    width: 7px;
    margin-top: -10px;
    margin-left: 22px;
    height: 35px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.button-top a .line-left {
    position: absolute;
    width: 7px;
    margin-top: -10px;
    margin-left: -22px;
    height: 35px;
    background-color: #fff;
    transform: rotate(45deg);
}


/*Colective*/
.main-card {
    background-image: url('img/bg.jpg');
    padding: 100px 0;
    height: 600px;
}

.teachers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teachers-card {
    position: relative;
    width: 350px;
    height: 240px;
    background-color: rgb(215, 215, 215);
    transition: 0.5s;
}

.teachers-card:hover {
    height: 450px;
}

.teachers-card .lines {
    position: absolute;
    inset: 0;
    background-color: #fff;
    overflow: hidden;
}

.teachers-card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #4C8CBF, #4C8CBF, #4C8CBF, transparent);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.teachers-card .lines::after {
    position: absolute;
    content: '';
    inset: 3px;
    background: #edeaea;
}

.teachers-card .imgBx {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.teachers-card:hover .imgBx {
    width: 200px;
    height: 200px;
}

.teachers-card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #53b2ff, #53b2ff, #53b2ff, transparent);
    animation: animate2 6s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.teachers-card .imgBx::after {
    position: absolute;
    content: '';
    inset: 3px;
    background: #98BBD5;
}

.teachers-card .imgBx img {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}

.teachers-card .teacher-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.teachers-card .teacher-info .portfolio {
    text-align: center;
    padding: 40px 20px;
    transform: translateY(85px);
    width: 100%;
    transition: 0.5s;
}

.teachers-card .teacher-info .portfolio h2 {
    font-size: 22px;
    font-weight: 600;
    color: #4C8CBF;
    margin-bottom: 20px;
}

.teachers-card .teacher-info .portfolio .details {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.teachers-card .teacher-info .portfolio .details h3 {
    font-size: 18px;
    color: #4C8CBF;
    font-weight: 600;
}

.teachers-card .teacher-info .portfolio .details h3 span {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}
.teachers-card .teacher-info .portfolio .teacher-text {
    color: #000;
}

/*lastNews*/
.lastNews-title h1 {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.holiday,
.employment {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    color: #000;
    padding-bottom: 35px;
    border-bottom: 1px solid #000;
}

.employment {
    margin-top: 60px;
    padding: 0;
    border: none;
}

.employment-title,
.holiday-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.holiday-p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.holiday-photo img,
.employment-photo img {
    border-radius: 8px;
}

/*for11*/
.for-admission-title h1 {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.for-admission {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--textColor);
}

.for-admission:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.for-admission-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.for-admission-sub-main {
    margin-top: 35px;
}

.for-admission-p,
.for-admission-p li {
    margin-bottom: 15px;
}

.for-admission-subtitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.for-admission-photo img {
    margin-bottom: 30px;
    border-radius: 8px;
}

.for-admission-photo img:nth-child(2) {
    height: 400px;
}

/*for9*/
.table {
    border: 1px solid #979797;
    padding: 15px;
}

.table > :not(caption) > * > * {
    padding: .5rem .5rem;
}

.table-body tr td:first-child {
    text-align: start;
    color: rgb(22, 8, 8);
}

.table-body tr td {
    text-align: center;
    color: #7B7B7B;
}

.for-admission-sub-main li {
    margin-bottom: 15px;
}

/*regulations*/
.regulations-title h1 {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.regulations:first-child {
    margin-bottom: 30px;
}

.regulations-text {
    margin-bottom: 15px;
}

.regulations-text a {
    font-size: 24px;
}

/*language*/
.language-title {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.language-text {
    margin-bottom: 20px;
}

.language-photo img {
    width: 600px;
}

/*educationProgram*/
.educ {
    text-align: center;
}

.educ-text {
    margin-bottom: 20px;
}

.educ-title {
    font-size: 24px;
    color: var(--textColor);
}

.educ-photo img {
    width: 600px;
}

/*form*/
.forms-asquisition-title {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.form {
    margin-bottom: 30px;
}

.form-text {
    margin-bottom: 15px;
}

.form-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-text ul {
    margin-top: 15px;
}

.form-text ul li {
    margin-bottom: 10px;
}

.form-item {
    margin-top: 30px;
}

.items-block {
    margin-bottom: 15px;
}

.items-block .items-block-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.items-block .items-block-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

/*Documents*/
.document-title h1 {
    color: var(--textColor);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.document-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

.document-item:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.document-item .document-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.document-item .document-photo img {
    height: 600px;
}

/*question*/
.question-main-title,
.instruction-main-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.question-item,
.instruction-item {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 4fr 2fr;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

.question-item:last-child,
.instruction-item:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.question-item .question-title,
.instruction-item .instruction-title  {
    font-size: 26px;
    margin-bottom: 15px;
}

/*instruction*/
.instruction-p {
    margin-bottom: 20px;
}

.instruction-text ul li {
    margin-bottom: 15px;
}

/*Test*/
.wrap-test {
    background-image: url("img/bg.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
}

.test-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
}

.question-for-test {
    margin-bottom: 25px;
}

.name-question {
    margin-bottom: 10px;
}

.name-question h2 {
    font-size: 20px;
}

.answer-for-test {
    margin-left: 50px;
}

.see-result {
    display: flex;
    margin-bottom: 20px;
}

.see-result .area-result {
    margin-left: 35px;
}

.see-result button {
    background-color: var(--t-bg);
    padding: 10px 20px;
    border-radius: 8px;
    color: var(--white);
}

.see-result textarea {
    border: 1px solid black;
}